a {
	color: white !important;
	font-weight: 600;
}

#page {
	max-width: 100%;
	overflow-x: hidden;
	padding-top: 0px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	max-width: 1200px !important;
}

#siteWrapper {
	background: #000 !important;
}

.col.sqs-col-12.span-12 > :nth-child(1) ~ * {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.col.sqs-col-12.span-12 > :nth-child(2) {
	margin-top: 40px;
}

header#header {
	background-color: black !important;
	top: 0 !important;
}

.align-left {
	align-items: flex-start;
}

.align-right {
	align-items: flex-end;
}

.sqs-html-content a {
	padding-bottom: 4px;
	position: relative;
	text-decoration: none;
}

.sqs-html-content a::after {
	background-color: #000;
	bottom: -3px;
	content: "";
	height: 2px;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity 0.1s ease-in-out, bottom 0.3s ease-in-out;
	width: 100%;
}

.sqs-html-content a:hover::after {
	bottom: 0;
	opacity: 1;
	transform: scaleX(1);
}

.sqs-block-content {
	padding-right: 20px;
	padding-left: 20px;
}

.sqs-html-content a::after {
	background-color: #fff;
}

.svg-container {
	position: fixed;
	bottom: -5%;
	width: 100%;
	height: 500px;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.black-button {
	background-color: transparent;
	font-size: 14px;
	padding: 8px 16px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.justify-between {
	justify-content: space-between !important;
}

.justify-end {
	justify-content: flex-end !important;
}

.sqs-block {
	padding-bottom: 0 !important;
}

.sqs-layout .sqs-row .sqs-block:first-child {
	padding-top: unset !important;
}

#page {
	max-width: 100%;
	overflow-x: hidden;
	padding-top: 0px;
}

.entry-title {
	color: white !important;
}

.background-svg-dark {
	opacity: .1;
	background-image: url(https://bantanaoriginbucket.s3.amazonaws.com/Mask+Group+4.svg);
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
	position: sticky;
	width: 100%;
	z-index: 0;
	bottom: 0;
	left: 0;
}

h1, h3, h3 {
	color: white !important;
}

p {
	color: white !important;
}

.button-group {
	margin-left: auto;
	margin-right: auto;
	display: block;
	display: flex;
	justify-content: center;
}

button {
	margin-right: 10px !important;
	padding: 13px 26px;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-style: solid;
	border-color: white !important;
	color: white;
	background-color: transparent !important;
}

button.active {
	color: #000 !important;
	background-color: white !important;
	border-color: #fff;
}

hr {
	background-color: rgb(127 127 127) !important;
	color: rgb(127 127 127) !important;
}

.grid {
	// display: grid;
	// grid-template-columns: repeat(3,1fr);
	// grid-gap: 20px;
	width: 100%;
	margin-top: 40px;
	overflow: hidden;
}

.grid-item {
	border: solid 2px #f7f7f72e;
	background: white;
	// padding: 20px;
	box-sizing: border-box;
	text-align: center;
	// margin-bottom: 40px;
}

.grid-item h3 {
	color: black !important;
	margin: 0px;
}

.grid-item p {
	font-size: 14px;
	color: black !important;
	margin: 0px;
}

@media (max-width: 1200px) {
	.background-svg {
		display: none;
	}

	.background-shimmer {
		display: none;
	}
}

@media (min-width: 840px) and (max-width: 1200px) {
	.sqs-row {
		padding-right: 40px !important;
		padding-left: 40px !important;
	}
}

@media (min-width: 840px) {
	#page {
		padding-left: 0px;
		padding-right: 0px;
		min-height: 100vh;
	}
}

@media (max-width: 840px) {
	.button-group.filter-button-group {
		display: flex !important;
		flex-direction: column !important;
	}

	.button-group.filter-button-group button {
		margin-right: 0px !important;
	}

}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-sizer,
.grid-item {
  width: calc(33.33% - 20px); /* Adjust the width to account for the gutter */
  margin-bottom: 20px; /* Add margin bottom for vertical spacing */
}

.grid-item {
  margin-right: 20px; /* Add margin right for horizontal spacing */
}

.grid-item:nth-child(3n) {
  margin-right: 0; /* Remove margin right for every third item */
}

@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: calc(50% - 20px); /* Show 2 columns on medium-sized screens */
  }
  
  .grid-item:nth-child(3n) {
    margin-right: 20px; /* Reset margin right for medium-sized screens */
  }
  
  .grid-item:nth-child(2n) {
    margin-right: 0 !important; /* Remove margin right for every second item on medium-sized screens */
  }
}

@media screen and (max-width: 480px) {
  .grid-sizer,
  .grid-item {
    width: 100%; /* Show 1 column on small screens */
    margin-right: 0; /* Remove margin right for small screens */
  }
  
  .grid-item:nth-child(2n) {
    margin-right: 0 !important; /* Remove margin right for every second item on small screens */
  }
}